[{if $listitem->blacklist == 1}]
    [{assign var="listclass" value=listitem3}]
[{else}]
    [{assign var="listclass" value=listitem$blWhite}]
[{/if}]
[{if $listitem->getId() == $oxid}]
    [{assign var="listclass" value=listitem4}]
[{/if}]
<td valign="top" class="[{$listclass}][{if $listitem->oxcategories__oxactive->value == 1}] active[{/if}]"><div class="listitemfloating">&nbsp;</div></td>
<td valign="top" class="[{$listclass}]" height="15" align="center"><div class="listitemfloating"><a href="Javascript:top.oxid.admin.editThis('[{$listitem->oxcategories__oxid->value}]');" class="[{$listclass}]">[{$listitem->oxcategories__oxsort->value}]</a></div></td>
<td valign="top" class="[{$listclass}]" height="15"><div class="listitemfloating"><a href="Javascript:top.oxid.admin.editThis('[{$listitem->oxcategories__oxid->value}]');" class="[{$listclass}]">[{$listitem->oxcategories__oxtitle->value}]</a></div></td>
<td class="[{$listclass}]">
    [{*$listitem->oxcategories__welt->value|var_dump*}]
    [{if $listitem->oxcategories__welt->value != null}]
        [{*$oViewConf->getPictureDir()|var_dump*}]
        <img src="[{$oViewConf->getPictureDir()}]/ddmedia/ico_welt.png" width="20px" style="margin-right: 10px"/>[{$listitem->oxcategories__welt->value}]
    [{/if}]
    [{if !$readonly}]
        [{include file="include/category_list_item_actions.tpl"}]
    [{/if}]
</td>