<td class="listheader first" height="15">[{oxmultilang ident="ARTICLE_VARIANT_EDIT"}] </td>
<td class="listheader">[{oxmultilang ident="ARTICLE_VARIANT_ACTIVE"}] </td>
<td class="listheader">[{oxmultilang ident="ARTICLE_VARIANT_CHOICE"}] </td>
<td class="listheader">[{oxmultilang ident="ARTICLE_VARIANT_ARTNUM"}]</td>
<td class="listheader">[{oxmultilang ident="ARTICLE_VARIANT_PRICE"}] ([{$oActCur->sign}])</td>
<td class="listheader">[{oxmultilang ident="ARTICLE_VARIANT_SORT"}]</td>
<td class="listheader">[{oxmultilang ident="ARTICLE_VARIANT_STOCK"}]</td>
<td class="listheader">FARBWERTE HEX ohne #</td>
<td class="listheader" colspan="2">&nbsp;</td>