<td class="listheader first" height="15" align="center"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxcategories', 'oxactive', 'asc');document.search.submit();" class="listheader">[{oxmultilang ident="GENERAL_ACTIVTITLE"}]</a></td>
<td class="listheader" height="15" align="center"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxcategories', 'oxsort', 'asc');document.search.submit();" class="listheader">[{oxmultilang ident="GENERAL_SORT"}]</a></td>
<td class="listheader" height="15" ><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxcategories', 'oxtitle', 'asc');document.search.submit();" class="listheader">[{oxmultilang ident="GENERAL_TITLE"}]</a></td>
<td class="listheader" height="15" ><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxcategories', 'welt', 'asc');document.search.submit();" class="listheader">[{oxmultilang ident="GENERAL_TITLE_WELT"}]</a></td>
